@font-face {
    font-family: helveticaNeue;
    src: url(../font/HelveticaNeue-UltraLight.otf);
}
@font-face {
    font-family: helveticaNeueLight;
    src: url(../font/HelveticaNeue-Light.otf);
}
@font-face {
    font-family: helveticaNeueBold;
    src: url(../font/HelveticaNeue-Bold.otf);
}

body{
	background: black url('../img/bg-indx.png');
	background-attachment: fixed;
	color: black;
	font-family: helveticaNeue;
	/*overflow-y: hidden;*/
}

.bg-01{
	background: rgb(8,176,141);
	color: white;
}
.bg-02{
	background: rgb(15,150,192);
	color: white;
}
.bg-03{
	background: rgb(0,98,189);
	color: white;
}
.bg-04{
	background: rgb(22,34,106);
	color: white;
}
.bg-05{
	background: rgb(72,23,156);
	color: white;
}
.bg-06{
	background: rgb(70,85,221);
	color: white;
}









h1{
	position: relative;
	margin: 0 0 0 50%;
	display: inline-block;
	color: white;
	font-size: 3em;

	transform: translateX(-50%);
}

h1:before{
	content: '';
	position: absolute;
	height: 3%;
	width: 40px;
	right: 105%;
	top: 49%;
	background: white;
}
h1:after{
	content: '';
	position: absolute;
	height: 3%;
	width: 40px;
	left: 105%;
	top: 49%;
	background: white;
}

h2{
	margin: 0px;
	position: relative;
	width: 60%;
	margin-left: 20%;
	color: white;
	text-align: center;
}

.nav-logo{
	background: url('../img/Wolf_white.png'); /* Your icon */
    position: relative; /* Allows an absolute positioned psuedo element */
    background-size: 90%;
    background-repeat: no-repeat;
	opacity: 1;
	width: 100%;
	height: 100px;
	
	/*border: 2px solid white;
	border-radius: 100%;
	background: black;*/
	padding: 4px;

	top: -10px;
	margin-left: 5%;
	transition-duration: 0.3s;

	
}

.invert-color{
	transition-duration: 0.3s;

	/*-webkit-filter: invert(0%) drop-shadow(0 0px 20px rgba(0,0,0,1));
    -moz-filter: invert(0%) drop-shadow(0 0px 20px rgba(0,0,0,1));
    -ms-filter: invert(0%) drop-shadow(0 0px 20px rgba(0,0,0,1));
    -o-filter: invert(0%) drop-shadow(0 0px 20px rgba(0,0,0,1));*/
  	filter: invert(0%); /*drop-shadow(0 0px 30px rgba(0,0,0,1));*/
}
.invert-color.active{
	/*-webkit-filter: invert(100%) drop-shadow(0 0px 20px rgba(255,255,255,1));
    -moz-filter: invert(100%) drop-shadow(0 0px 20px rgba(255,255,255,1));
    -ms-filter: invert(100%) drop-shadow(0 0px 20px rgba(255,255,255,1));
    -o-filter: invert(100%) drop-shadow(0 0px 20px rgba(255,255,255,1));*/
  	filter: invert(100%); /*drop-shadow(0 0px 30px rgba(255,255,255,1));*/
}

/*.nav-logo:after{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    content: ''; 
    background: red;
    mix-blend-mode: multiply; 
}*/

.main-intro{
	position: fixed;
	left: 0px; top: 0px;
	width: 100%;
	height: 100%;
	background: transparent;
}

.main-title{
	position: relative;
	top: 50%;
	height: 20%;
	width: 100%;
	transform: translateY(-50%);
}

.nav-container{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
	border-radius: 150px 150px 0px 0px;
	perspective-origin: 50% 50%;
	perspective: 1000px;
}

.nav-o{
	bottom: 0px;
	width: 450px;
	height: 50px;
	position: fixed;
	z-index: 100;
	left: 50%;
	transform: translateX(-50%);
}
.nav-o-holder{
	position: absolute;
	height: 100%;
	width: 100%;
	transform-origin: 50% 100%;
	border-radius: 50% 50% 0px 0px;
	transition-duration: 0.3s;
}

.nav-trap{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0);
}

.nav-trap img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;

}
/*.nav-o:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0px;
	background: url('../img/nav-trap.svg');
	
	border-radius: 20px 20px 0% 0%;
	z-index: -1;
}*/
.nav-container div{
	position: relative;
	width: 0px;
	height: 100%;
	margin: auto auto;
	/*background: white;*/

	transform-style: preserve-3d;

	transition-duration: 0.3s;

}
.nav-container div>img{
	position: absolute;
	width: 100%;
	
	/*border: 2px solid white;
	border-radius: 100%;
	background: black;*/

	padding: 4px;

	top: 10%;
	margin-left: 10%;
	transform: rotateY(0deg);
	transition-duration: 0.3s;
}


.nav-o>div:last-child{
	position: absolute;
	width: 100px;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
}

.nav-o>div:last-child>img{
	position: relative;
	max-width: 100%;
	height: auto;
	/*left: -50%;
	border-radius: 100%;*/
	/*box-shadow: 0px 0px 50px black;*/
	/*border-radius: 100%;
	border: 2px solid white;
	background: rgba(0,0,0,1);*/
	left: 0%;
	bottom: 5px;
	padding: 6px;
	/*border: 4px solid black;*/
}

.nav-container :nth-child(1){
	left: 0%;
	bottom: 110%;
	/*transform: translateX(-330%)
			   translateY(0%);*/
}
.nav-container :nth-child(2){
	left: 0%;
	bottom: 210%;
	/*transform: translateX(-220%)
			   translateY(-100%);*/
}
.nav-container :nth-child(3){
	left: 0%;
	bottom: 310%;
	/*transform: translateX(-110%)
			   translateY(-200%);*/
}
.nav-container :nth-child(4){
	left: 0%;
	bottom: 410%;
	/*transform: translateX(110%)
			   translateY(-300%);*/
}
.nav-container :nth-child(5){
	left: 0%;
	bottom: 510%;
	/*transform: translateX(220%)
			   translateY(-400%);*/
}
.nav-container :nth-child(6){
	left: 0%;
	bottom: 610%;
	/*transform: translateX(330%)
			   translateY(-500%);*/
}

.nav-container>div:hover img{
	transform: rotateY(180deg);
}
/*.nav-o>div:last-child img{
	transform: rotateY(0deg);
}*/

.nav-o:hover>.nav-container div>img{
	border: 2px solid white;
	border-radius: 100%;
	background: black;
}

.nav-o:hover>.nav-container div:nth-child(1){
	left: -180px;
	bottom: 120%;
	width: 50px;

	/*animation: 1s plop 1;*/
	/*transform: translateX(-330%)
			   translateY(0%);*/
}
.nav-o:hover>.nav-container div:nth-child(2){
	left: -120px;
	bottom: calc(210% + 150%);
	width: 50px;

	/*animation: 1s plop 1;*/
	/*transform: translateX(-220%)
			   translateY(-100%);*/
}
.nav-o:hover>.nav-container div:nth-child(3){
	left: -40px;
	bottom: calc(310% + 220%);
	width: 50px;

	/*animation: 1s plop 1;*/
	/*transform: translateX(-110%)
			   translateY(-200%);*/
}
.nav-o:hover>.nav-container div:nth-child(4){
	left: 40px;
	bottom: calc(410% + 220%);
	width: 50px;

	/*animation: 1s plop 1;*/
	/*transform: translateX(110%)
			   translateY(-300%);*/
}
.nav-o:hover>.nav-container div:nth-child(5){
	left: 120px;
	bottom: calc(510% + 150%);
	width: 50px;

	/*animation: 1s plop 1;*/
	/*transform: translateX(220%)
			   translateY(-400%);*/
}
.nav-o:hover>.nav-container div:nth-child(6){
	left: 180px;
	bottom: 610%;
	width: 50px;

	/*animation: 1s plop 1;*/
	/*transform: translateX(330%)
			   translateY(-500%);*/
}

.nav-o:hover>.nav-o-holder{
	transform: scaleY(4.5);
}

.section-counter{
	position: fixed;
	width: 40px;
	height: 200px;
	left: 0px;
	top: calc(50% - 50px);
	background: rgba(15,150,192,.65);
	z-index: 100;

	transform: translateY(-50%);
}

.section-counter:after{
	border: 5px solid rgba(15,150,192,.65);
	border-color: rgba(15,150,192,.65) transparent transparent transparent;
	border-width: 30px 40px 0px 0px;
	content: '';
	position: absolute;
	top: 100%;
	width: 100%;
}

.section-counter:before{
	border: 5px solid #094BAF;
	border-color: transparent transparent rgba(15,150,192,.65) transparent;
	border-width: 0px 40px 30px 0px;
	bottom: 100%;
	content: '';
	position: absolute;
	width: 100%;
}

.section-counter a{
	border: 2px solid white;
	width: 15px;
	height: 15px;
	left: 50%;
	position: absolute;

	transform: translateX(-50%)
			   rotateZ(45deg);
	transition-duration: 0.3s;
}

.section-counter a:hover{
	transform: translateX(-50%)
			   rotateZ(135deg);
}

.section-counter div:nth-child(1)>a{
	top: calc(20% - 5px);
}
.section-counter div:nth-child(2)>a{
	top: calc(40% - 5px);
}
.section-counter div:nth-child(3)>a{
	top: calc(60% - 5px);
}
.section-counter div:nth-child(4)>a{
	top: calc(80% - 5px);
}

.section-counter-active a{
	background: white;
	border-color: white;
}



.section-container{
	height: 100%;
	position: absolute;
	width: 100%;
}

#about-us{
	background: white;

	/*background-image: linear-gradient(to right, rgba(255,255,255,0.1) 0%,white 100%), url('../img/bg-light.png');
	background-blend-mode: multiply;*/
	
	height: 600px;
	position: relative;
	top: 100%;
	width: 100%;
}

.left-about-us{
	position: relative;
	height: 600px;
	width: 20%;
	top: 0%;
	/*background: rgba(0,0,0,0.5);*/
	display: inline-block;
}
.left-about-us img{
	position: absolute;
	height: 100%;
	transform: 	translateX(-10%)
				scaleX(0.9);

}

/*.left-about-us:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0%;
	height: 100%;
	border: 5px solid rgba(41,106,255,.65);
	border-width: 300px 0px 300px 150px ;
	border-color: transparent transparent transparent rgba(0,0,0,0.5);
}*/

.left-container{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 610px;
	height: 610px;
	overflow: hidden;
}

.left-about-us-2{
	position: absolute;
	width: 610px;
	height: 610px;
	top: calc(50% - 4px);

	background: linear-gradient(165deg, rgba(22,34,106, 0.8) 5%, rgba(15,150,192,0.8) 80%);

	transform:  translateX(-30%)
				translateY(-50%)
				rotateZ(45deg)
				skew(-160deg, 20deg);
	/*background: black;*/
}

.right-about-us{
	display: inline-block;
	position: relative;
	width: 60%;
	margin-left: 15%;
	height: 100%;
}

.right-about-us .content>div{
	margin-top: 10%;
}

.right-about-us img{
	width: 100px;
	height: 100px;
	border: 0px solid rgb(15,150,192);
	padding-right: 15px;
	border-right-width: 1px;
	/*transform-origin: 50% 100%;*/
	transition-duration: 0.3s;
}

.right-about-us-text{
	font-family: helveticaNeueLight;
	font-size: 1.5em;
	color: rgb(15,150,192);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	padding-left: 15px;
}

.row:hover>.right-about-us-text{
	
}

#services{
	background: rgba(0,0,0,0.3);
	height: 650px;
	position: relative;
	top: 100%;
	width: 100%;
	overflow: hidden;
}

#services:before{
	position: absolute;
	content: '';
	bottom: 0%;
	left: calc(50% - 500px);
	border: 5px solid silver;
	border-width: 0px 500px 50px 500px;
	border-color: transparent transparent rgb(40,40,40) transparent;

}

#services>h4{
	position: relative;
	text-align: center;
	font-family: helveticaNeueLight;
	font-size: 3em;
	padding: 50px 0px;
	margin-top: 0px;
	color: white;
}
#services>h4:before{
	content: '';
	position: absolute;
	height: 1%;
	width: 40px;
	right: calc(58%);
	top: 49.5%;
	background: white;	
}
#services>h4:after{
	content: '';
	position: absolute;
	height: 1%;
	width: 40px;
	left: 58%;
	top: 49.5%;
	background: white;
}

.services-container{
	width: 100%;
	height: 600px;
}

.container-line{
	position: absolute;
    display: block;
    height: 30px;
    left: 0px;
    white-space:nowrap;
    width: auto;
}

.services-block{
	transform-style: preserve-3d;
	position: relative;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	height: 400px;
	margin-left: 5px;
	width: 300px;
	font-family: helveticaNeueLight;
	transition-duration: 0.3s;
}

.services-block:hover{
	box-shadow: 0px 0px 20px gray;
	transform: scale(1.1, 1.1);
	z-index: 2;
}

.services-block h3{
	font-family: helveticaNeueBold;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}
.services-block img{
	position: absolute;
	width: 50%;
	height: 40%;
	left: 25%;
	top: 15%;

}
.services-block img+img{
	position: absolute;
	width: 30%;
	height: 20%;
	left: 35%;
	top: 25%;

}

.services-block h4{
	position: absolute;
	top: 61%;
	left: 50%;
	width: 250px;
	/*max-width: 95%;*/
	white-space: normal;
	transform: translateX(-50%);
}
.services-block button{
	bottom: 10%;
	position: absolute;
	border: none;
	left: 50%;
	background: white;
	color: black;
	font-family: helveticaNeueLight;
	transform: translateX(-50%);
	transition-duration: 0.3s;
}


#contact{
	position: relative;
	background: rgb(40,40,40);
	width: 100%;
	height: 500px;
	top: 100%;
	background: linear-gradient(rgba(40,40,40,1) 70%,rgba(40,40,40,0) 100%);
}

#contact>h4{
	text-align: center;
	font-family: helveticaNeueLight;
	font-size: 3em;
	padding: -50px 0px;
	margin-top: 0px;
	color: white;

}

#contact .contact-form{
	position: absolute;
	height: 300px;
	width: 500px;
	left: 20%;
	background: black;

}



/* Effects */

.radial-shade:before, .radial-shade:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 10px;
	left: 0px;
	opacity: 0;
	transition-duration: 0.3s;
}

.radial-shade:hover:before, .radial-shade:hover:after{
	opacity: 1;
}

.radial-shade:before{
	bottom: 100%;
	background: radial-gradient(
		ellipse at 50% 150%, 
		rgba(0,0,0,1) 0%,
		rgba(0,0,0,0) 80%
	)
}

.radial-shade:after{
	top: 100%;
	background: radial-gradient(
		ellipse at 50% -50%, 
		rgba(0,0,0,1) 0%,
		rgba(0,0,0,0) 80%
	)
}

.borde_recogido{
	position: relative;
}

.borde_recogido:before{
	content: '';
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	position: absolute;
	border: 2px solid white;
	top: -16px;
	left: -16px;
	right: -16px;
	bottom: -16px;
	opacity: 0;
	border-radius: 5px;
}

.borde_recogido:hover:before{
	top: -8px;
	left: -8px;
	right: -8px;
	bottom: -8px;
	opacity: 1;
}

.3d-perspective{
	perspective-origin: 50% 50%;
	perspective: 1000px;
}

.mv-radial-xz{
	width: 30px;
	height: 20px;
	transform-origin: 50% 50% -40px;
	animation: 8s radialXZ linear infinite;
}
.mv-radial-xz-delay{
	width: 30px;
	height: 20px;
	transform-origin: 50% 50% -40px;
	animation: 8s radialXZ linear infinite;
	animation-delay: 2.5s;
}

.mv-search-mime{
	animation: 10s searchMime infinite;
}

.mv-slash-shake{
	animation: 3s slashShake infinite;
}

.mv-balance{
	animation: 5s balance infinite;
}
.mv-self-rotate-y{
	animation: 8s selfRotateY infinite;
}

.useless-shadow-circle{
	position: absolute;
	width: 30%;
	height: 50px;
	bottom: 35%;
	left: 35%;
	border-radius: 100%;
	background: rgba(0,0,0,0.6);
	transform: 	translateZ(60px)
				rotateX(80deg);
}

/* Animations */

@keyframes radialXZ{
	0%{
		transform: rotateY(0deg)
				   translateZ(60px)
				   scale(1)
				   ;
		opacity: 1;
	}
	25%{
		transform: rotateY(90deg)
				   translateZ(60px)
				   translateX(-100px)
				   scale(0.8)
				   ;

		opacity: 0.7;
	}
	50%{
		transform: rotateY(180deg)
				   translateZ(-200px)
				   scale(0.7)
				   ;
		opacity: 0.3;
	}
	75%{
		transform: rotateY(270deg)
				   translateZ(60px)
				   translateX(100px)
				   scale(0.8)
				   ;
		opacity: 0.7;
	}
	100%{
		transform: rotateY(360deg)
				   translateZ(60px)
				   scale(1)
				   ;
		opacity: 1;
	}
}

@keyframes searchMime{
	0%{
		transform: translate(0px, 0px);
	}
	9%{
		transform: translate(30px, -20px)
					rotateZ(-10deg);
	}
	21%{
		transform: translate(-70px, -10px)
					rotateZ(-20deg);
	}
	33%{
		transform: translate(-70px, 40px)
					rotateZ(-20deg);	
	}
	48%{
		transform: translate(-5px, 30px)
					rotateZ(20deg);
	}
	54%{
		transform: translate(0px, 0px);
	}
	100%{
		transform: translate(0px, 0px);	
	}

}

@keyframes slashShake{
	0%{
		transform: rotateZ(0deg);
	}
	2%{
		transform: rotateZ(5deg);
	}
	4%{
		transform: rotateZ(-3deg);
	}
	6%{
		transform: rotateZ(2deg);
	}
	8%{
		transform: rotateZ(0deg);
	}
}

@keyframes selfRotateY{
	0%{
		transform: 	translateZ(100px)
					rotateY(0deg);
	}
	15%{
		transform: 	translateZ(100px)
					rotateY(90deg);
	}
	30%{
		transform: 	translateZ(100px)
					rotateY(180deg);	
	}
	45%{
		transform: 	translateZ(100px)
					rotateY(270deg);
	}
	60%{
		transform: 	translateZ(100px)
					rotateY(360deg);
	}
	100%{
		transform: 	translateZ(100px)
					rotateY(360deg);
	}
}

@keyframes balance{
	40%, 60%{
		transform: scale(1)
				   rotate(0deg);
	}
	44%{
		transform: scale(0.7)
				   rotate(6deg);
	}
	46%, 54%{
		transform: scale(1.1)
				   rotate(-6deg);
	}
	50%, 58%{
		transform: scale(1.1)
				   rotate(6deg);
	}

}

.circle-emitter{
	position: relative;
	top: 105%;
	left: -5%;
}
.circle-emitter:before{
	position: absolute;
	content: '';
	width: 110px;
	height: 110px;
	bottom: 100%;
	left: -4px;
	bottom: calc(100% + 5px);
	border: 2px solid white;
	border-radius: 100%;
	opacity: 0;
	animation: circleEmitterx2 linear 4s infinite;
	animation-delay: 0.2s;
	animation-play-state: running;
}
.circle-emitter:after{
	position: absolute;
	content: '';
	width: 110px;
	height: 110px;
	bottom: 100%;
	left: -4px;
	bottom: calc(100% + 5px);
	border: 2px solid white;
	border-radius: 100%;
	opacity: 0;
	animation: circleEmitterx2 linear 4s infinite;
	animation-delay: 0.4s;
	animation-play-state: running;
}
.circle-emitter:hover:before, .circle-emitter:hover:after{
	animation: 0;
}

@keyframes circleEmitterx2{
	0%{
		transform: scale(0.9);
		opacity: 0;
	}
	89%{
		transform: scale(0.9);
		opacity: 0;
	}
	90%{
		transform: scale(0.9);
		opacity: 1;
	}
	100%{
		transform: scale(2);
		opacity: 0;
	}
}

.drop-shadow {
  -webkit-filter: drop-shadow(0 0px 20px rgba(255,255,255,0.8));
  -moz-filter: drop-shadow(0 0px 20px rgba(0,0,0,1));
  -ms-filter: drop-shadow(0 0px 20px rgba(0,0,0,1));
  -o-filter: drop-shadow(0 0px 20px rgba(0,0,0,1));
  filter: drop-shadow(0 0px 20px rgba(0,0,0,1));
}


footer{
	position: relative;
	top: 100%;
	height: 200px;
	width: 100%;
}






